.breadcrumbs {
	margin-bottom: 30px;

	.container {
		@include mq("568") {
			padding: 0 7px;
		}
	}

	&__list {
		display: flex;
		gap: 5px;
		align-items: center;
	}

	&__item {
		font-weight: 500;
		font-size: 14px;
		line-height: 19px;
		color: $accent;
		position: relative;

		&:not(:last-child) {
			padding-right: 15px;

			&::after {
				content: '/';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				font-size: 22px;
			}
		}

	}

	&__link {
		display: inline-block;

		&--home {
			position: relative;
			height: 20px;
			width: 20px;
			display: flex;
			align-items: center;
			justify-content: center;

			&::before {
				content: '';
				position: absolute;
				display: block;
				width: 20px;
				height: 20px;
				background-image: url('../images/icons/icon-home.svg');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
			}
		}
	}

}