.cart {
	&__stages {
		margin-bottom: 50px;

		@include mq("568") {
			margin-bottom: 25px;
			padding-bottom: 25px;
			border-bottom: 1px solid #898989;
		}
	}

	&__inner {
		padding-bottom: 50px;
		border-bottom: 1px solid #000000;
		margin-bottom: 25px;

		@include mq("568") {
			padding-bottom: 25px;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include mq("568") {
			align-items: start;
		}

		img {
			margin-right: 25px;
			max-width: 195px;
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}

	&__item-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex: 0 1 100%;

		@include mq("758") {
			flex-direction: column;
			align-items: start;
			gap: 15px;
		}
	}

	&__item-title {
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 5px;

		@include mq("568") {
			font-size: 14px;
		}
	}

	&__btn {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 22px;
		height: 22px;

		button {
			display: inline-block;
			width: 20px;
			height: 20px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			position: absolute;
		}
	}

	&__price {
		font-weight: 600;
		font-size: 24px;
		line-height: 33px;
	}

	&__btns {
		display: flex;
		justify-content: center;

		a {
			max-width: max-content;
			padding: 13px 50px;

			@include mq("758") {
				font-size: 16px;
			}
		}
	}
}

.cart__amount {
	display: inline-flex;
	gap: 10px;
	position: relative;
	width: 60px;

	input[type="number"] {
		display: block;
		height: 32px;
		line-height: 32px;
		width: 100%;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		text-align: center;
		-moz-appearance: textfield;
		-webkit-appearance: textfield;
		appearance: textfield;
	}
}

.cart__amount input[type="number"]::-webkit-outer-spin-button,
.cart__amount input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.cart-stages {
	display: flex;
	flex-direction: column;
	gap: 25px;

	@include mq("758") {
		gap: 20px;
	}

	@include mq("568") {
		gap: 10px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		font-weight: 700;
		font-size: 23px;
		line-height: 31px;
		letter-spacing: 0.06em;
		text-transform: uppercase;

		&--pos {
			@include mq("568") {
				justify-content: center;
			}
		}

		@include mq("998") {
			font-size: 20px;
		}

		@include mq("758") {
			font-size: 19px;
		}

		&:last-child {
			margin: 0 30px 0 40px;

			@include mq("568") {
				margin: 0;
			}
		}

		&--points {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				width: 100%;
				z-index: 3;
				height: 2px;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background-color: $accent;
			}
		}
	}

	&__item {
		color: $black;
		opacity: 0.5;

		@include mq("568") {
			display: none;
		}

		&--none {
			@include mq("568") {
				display: none;
			}
		}

		&.active {
			color: #215D17;
			opacity: 1;
			display: block;

			&--none {
				@include mq("568") {
					display: none;
				}
			}
		}
	}

	&__item-point {
		position: relative;
		z-index: 5;
		color: #000000;
		background-color: #e5e5e5;
		font-weight: 500;
		width: 38px;
		height: 38px;
		opacity: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid $accent;
		border-radius: 100%;

		@include mq("568") {
			width: 25px;
			height: 25px;
			font-size: 16px;
		}

		&.active {
			color: #fff;
			background-color: $accent;
		}
	}
}

.cart-info {

	&__inner {
		display: flex;
		justify-content: space-between;
		margin-bottom: 35px;
		gap: 50px;

		@include mq("758") {
			flex-direction: column;
		}

		@include mq("568") {
			gap: 25px;
		}
	}

	&__left {
		flex: 0 1 50%;

		@include mq("758") {
			border-bottom: 1px solid #000000;
		}
	}

	&__btns {
		margin-bottom: 20px;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;

		@include mq("568") {
			font-size: 14px;
		}

		button {
			text-decoration: underline;

			&.active {
				color: $accent;
				text-decoration: none;
			}

			&:not(:last-child) {
				margin-right: 35px;

				@include mq("568") {
					margin-right: 10px;
				}
			}
		}
	}

	&__content {
		display: flex;
		max-width: 458px;
		gap: 50px;
		align-items: center;

		@include mq("568") {
			padding-bottom: 25px;
			max-width: 100%;
		}
	}

	&__content-item {
		color: #898989;

		@include mq("568") {
			font-size: 16px;
		}

		span {
			font-weight: 700;
			font-size: 20px;
			line-height: 27px;
			color: #000000;

			@include mq("568") {
				font-size: 16px;
			}
		}

		.cart-info__content-percent {
			font-weight: 700;
			font-size: 81px;
			line-height: 111px;
			color: #55B74C;
			display: flex;
			align-items: center;

			@include mq("568") {
				display: none;
			}

			span {
				font-weight: 500;
				font-size: 47px;
				line-height: 64px;
				color: #55B74C;
			}
		}
	}

	&__right {
		flex: 0 1 50%;
	}

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
		color: #898989;

		@include mq("568") {
			font-size: 14px;
		}
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:not(:last-child) {
			border-bottom: 1px solid rgba(137, 137, 137, 0.5);
			padding-bottom: 15px;

			@include mq("568") {
				padding-bottom: 7px;
				margin-bottom: 7px;
			}
		}
	}

	&__point {
		color: #000000;
		font-weight: 500;

		&--price {
			font-weight: 600;
			font-size: 24px;
			line-height: 33px;

			@include mq("568") {
				font-size: 18px;
			}
		}
	}

	&__form {
		background: #F8F8F8;
		display: flex;
		justify-content: space-between;
		gap: 25px;
		padding: 20px 35px;
		margin-bottom: 50px;


		@include mq("992") {
			flex-direction: column;
			margin: 0;
			margin-bottom: 25px;
			gap: 15px;
		}

		@include mq("568") {
			padding: 10px 3px;
		}
	}

	&__label {
		display: flex;
		align-items: center;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #000000;
		position: relative;
		padding-left: 25px;
		padding-right: 25px;

		@include mq("568") {
			font-size: 14px;
		}

		&::before {
			content: '';
			position: absolute;
			margin-right: 8px;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 18px;
			height: 18px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			background-image: url('../images/icons/icon-camera.svg');
			filter: invert(59%) sepia(28%) saturate(873%) hue-rotate(67deg) brightness(98%) contrast(91%);
		}

		&::after {
			content: '?';
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $white;
			width: 23px;
			height: 23px;
			background-color: $accent;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 50%;
		}

		&--image {
			&::before {
				background-image: url('../images/icons/icon-postcard.svg');
			}
		}

		input[type="checkbox"] {
			position: absolute;
			width: 1px;
			height: 1px;
			opacity: 0;

			&:checked+span::after {
				opacity: 1;
			}
		}

		span {
			cursor: pointer;
			position: relative;
			display: flex;
			align-items: center;
			line-height: 1.2;

			&::before {
				content: "";
				min-width: 14px;
				height: 14px;
				background: #FFFFFF;
				border: 1px solid #C0C0C0;
				border-radius: 2px;
				display: inline-block;
				margin-right: 10px;
			}

			&::after {
				content: "";
				position: absolute;
				left: 2.5px;
				top: 50%;
				transform: translate(0, -50%);
				width: 8px;
				height: 8px;
				background-color: $black;
				border-radius: 2px;
				opacity: 0;
			}
		}
	}
}