.pagelist {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: auto;
	grid-template-rows: auto;
	gap: 35px;

	@include mq("998") {
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	@include mq("568") {
		grid-template-columns: repeat(2, 1fr);
		gap: 12px;
	}

	&__item {
		height: 100%;
	}
}